<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="./index.css" />
  <link rel="stylesheet" type="text/css" href="./reset.css" />
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app" class="app">
    <div class="editor">
      <textarea v-model="body"></textarea>
    </div>

    <div class="analytics">
      <div class="card">
        <h2>文字数</h2>
        <p class="wordCount">{{ body.length }}
          <span>文字</span>
        </p>
      </div>
      <div class="card">
        <h2>キーワード数</h2>
        <div class="keywordWrapper">
          <div v-for="(keyword, i) in keywords" class="keywordRow">
            <span @click="removeKeyword(i)" class="closeButton">×</span>
            <input v-model="keyword.value" />
            <p>{{ keyword.value.length === 0 ? 0 : body.split(keyword.value).length - 1 }} 個</p>
          </div>
        </div>
        <button @click="addKeyword">キーワードを追加する</button>
      </div>
    </div>
  </div>
</body>
<script>
  require('./renderer.js')
</script>

</html>