* {
  font-family: "Rounded Mplus 1c";
  box-sizing: border-box;
  color: #454;
}

html,
body {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  background-color: #f4f5f4;
  height: 100%;
}
